.DS_Store

.venv/
__pycache__/
sons/
fichiers_midi/

reaper/*
!reaper/pianoteq-audio-engine.RPP

pics/*
!pics/fsr-sensor-600x450.jpg
!pics/initial-prompt.jpg
!pics/meta-stairs-schema-600x516.jpg
!pics/meta-stairs-schema.fzz
!pics/python-script-ui.png
!pics/stairs-setup-600x600.jpg
!pics/teensy-board-600x450.jpg